<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="model" default="deliverybot"/>
  <arg name="map_name" default="tko_gazebo"/>
  <arg name="map_file" default="$(find deliverybot_nav)/maps/$(arg map_name).yaml"/>
  
  <include file="$(find deliverybot_nav)/launch/multi/multi_deliverybot1.launch">
	  <arg name="model" value="$(arg model)" />
	  <arg name="map_file" default="$(arg map_file)" />
  </include>
  <include file="$(find deliverybot_nav)/launch/multi/multi_deliverybot2.launch">
	  <arg name="model" value="$(arg model)" />
	  <arg name="map_file" default="$(arg map_file)" />
  </include>
  <!-- <include file="$(find deliverybot_nav)/launch/multi/multi_deliverybot3.launch">
	  <arg name="model" value="$(arg model)" />
	  <arg name="map_file" default="$(arg map_file)" />
  </include> -->


  <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find deliverybot_nav)/rviz/multi_deliverybot_nav.rviz"/>
</launch>
